# --------------------------------------------------
# ENVIRONMENT SETTINGS
# --------------------------------------------------

# MariaDB/MySQL settings
MARIADB_VERSION=10.6
MYSQL_PORT=3002
MYSQL_ROOT_PASSWORD=Th3R00tPassw0rd
MYSQL_DATABASE=appdb
MYSQL_USER=appuser
MYSQL_PASSWORD=letmein

# phpMyAdmin settings
PMA_HTTP_PORT=5051
